<!DOCTYPE html>
<html>
	<%- include("includes/head", {title, page}) -%>
	<body>
		<!--this Include is useful for reusing pieces of HTML-->
		<%- include("includes/navbar", {navigationLinks:["Home", "Reviews", "Pictures"]}) %>

		<div class='banner'>
		<h1><%= title %></h1>
		</div>

		<main>

		<div class="welcome">
			<div class="welcome_text">
				<p><%= greeting %></p>
				<p>We are Linda (Germany) and Santi (Argentina). We are both EU citizens and speak english, apart from german and spanish. At the moment (<%= date %>) we are in <%= where %>.</p>
				<p>Over the next few lines, we succintly describe <a href="#firstSec"> <%= firstSec %> </a>, <a href="#secondSec"> <%= secondSec %> </a>.

			</div>
			<figure class="welcome_figure">
			<img 
			src="<%= mainImg %>" 
			alt="Picture of Linda and Santi"
			/>
			<figcaption>Isle of Ischia, 2021</figcaption>
			<figure>
		</div>

			<section id="firstSec" class="firstSec">
				<h2><%= firstSec %></h2>
				<p>Although the internet brings the distant close, reading isn't the same than first person experiences. We like visiting new places and cultures; people and ideas. 
				</p>
			</section>

			<section class="secondSec" id="secondSec" >
				<h2><%= secondSec %></h2>
				<p> In 2021, we have been involved in: </p>
				<div class="taskImgFlex">
				<ul class="tasks">
					<li>Building wooden fences and doors w/ recycled material.</li>
					<li>Painting & limewashing, Cooking, Gardening.</li>
					<li>Changeovers and reception at hostels.</li>
					<li>Basic repairs, IT help.</li>
				</ul>

				<figure class="roundFig" >
				<img class="roundFig_img" src="/images/cropped_IMG_0926.JPG" alt="linda fitting a door"/>
				<figcaption>Door made with recycled wood</figcaption>
				</figure>
				</div>
				<h3>Places we've worked in</h3>
				<ul class="places">
					<li> <a href="https://cotna.co.uk/">Cotna</a> Eco Retreat (6 weeks), Cornwall.</li>
					<li> <a href="https://www.theenchantedwilderness.co.uk/">Enchanted Wilderness</a>  (2 months), Devon.</li>
					<li> Rosie's Place (6 weeks), Aberdeen.</li>
					<li> <a href="http://skyebackpackers.com/">Skye Backpackers</a> Hostel (5 months), Isle of Skye</li>
				</ul>
				<h3>Heads up!</h3>
				<p class="quoteLikePar">
				We are now looking for new destinations in Europe<span style="font-size:2rem; color:red; font-weight:bold">!!!</span> Get in touch using the links below, or drop us an email at <a mailto="santi+linda@pm.me&subject=Volunteering">santi+linda@pm.me</a>.</p>
			</section>
		</main>

		<%- include('includes/footer')%>
		<!--		<script src="./javascripts/addCheckMarks.js"></script> -->
	</body>
</html>
